<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="print" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
            
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                ACA PE
            </div>
            <ul id="tools">
                <!--  <li>
                    <a href="#">Log in to write something</a>
                </li> -->
            </ul>
			<div id="title">
    			<span class="about">Adaptive Conjoint Analysis Price Estimation Test Tool</span>
    			<h1><a href="@{Application.index()}">${blogTitle}</a></h1>
    			<h2>${blogBaseline}</h2>
			</div>
        </div>

       	<div class="tabs">
        	<ul>
				<li %{ if (activeTab == "Exclusion") { }%id="activeTab"%{ } }%>Exclusion</li>
				<li %{ if (activeTab == "Rating") { }% id="activeTab" %{ } }%>Rating</li>
				<li %{ if (activeTab == "Importance") { }% id="activeTab" %{ } }%>Importance</li>
				<li %{ if (activeTab == "TradeOff") { }% id="activeTab" %{ } }%>Trade-Off</li>
				<li %{ if (activeTab == "Calibration") { }% id="activeTab" %{ } }%>Calibration</li>
				<li %{ if (activeTab == "PriceEstimation") { }% id="activeTab" %{ } }%>Price Estimation</li>
        	</ul>
       	</div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
			The ACA PE Test Tool is an academic prototype to test the applicability of ACA for scoping purposes of Software Product Lines.
			(c) 2011 Johannes Müller
			The tool is realized with the <a href="http://www.playframework.org">Play framework</a>.
        </p>
        
    </body>
</html>