#{extends 'main.html' /}
#{set title:'ACA PE' /}

	#{form @Application.postAttributeImportance()}  
	<input type="hidden" name="interviewId" value="${interviewId}" />
	<input type="hidden" name="page" value="${page}" />    
	<input type="hidden" name="attributeId" value="${attribute.id}" />    
	<div class="choice-table">
    	<h2>For attribute ${attribute.name},</h2>
    	<p class="description">
    		<br />
			how important is the difference between <strong>${best.name}</strong> and <strong>${worst.name}</strong> for you?
		</p>

        <table>
          <tr>
          	<td>
        	<div class="rating">
        		<input type="hidden" name="levelRates[${i}]" value="0">
			%{
     			for(r in 1..7) { 
			}%
        	 
				 <!-- <input type="radio" name="levelRates[${i}]" value="${r}"> -->
				<div class="rate${r} ratingIcon"></div>
        		
        	%{
     			}
			}%
				<div style="height: 29px; line-height: 29px;">Importance</div>
			</div>
			</td>
          </tr>
        </table>
   	</div>
   	<script>
 	$('.ratingIcon').hover(  
	    // Handles the mouseover  
	    function() { 
	        $(this).prevAll().andSelf().addClass('ratingIcon_selected'); 
	        $(this).nextAll().removeClass('ratingIcon_selected');	 
	    },  
	    // Handles the mouseout  
	    function() {
	 		$(this).prevAll().andSelf().addClass('ratingIcon_selected');  
	 		$(this).nextAll().removeClass('ratingIcon_selected');	        
	    }  
	);
 	$('.ratingIcon').click(function() {
 		var classNames;
 		classNames = $(this)[0].className.split(' ');
 		$(this).parent().children(":input").val(classNames[0].substring(4));
 		$(this).prevAll().andSelf().addClass('ratingIcon_selected');  
 		$(this).nextAll().removeClass('ratingIcon_selected'); 
 	}); 
 
 	</script>
        <p>
    <input type="submit" value="Next" />
</p>
      #{/form}