#{extends 'main.html' /}
#{set title:'ACA PE' /}

	#{form @Application.postLevelRate()}  
	<input type="hidden" name="interviewId" value="${interviewId}" />
	<input type="hidden" name="page" value="${page}" />       
 	<div class="choice-table">
   		<h2>For attribute ${attribute.name},</h2>
    	<p class="description">
    		<br />
			how desirable are the following levels for you?
			<br />
		</p>
        <table>
        %{def label = [" ", "Undesirable", "Desirable"]}%
         <colgroup width="${600/label.size()}" span="${label.size()}"></colgroup>
        <tr>
        <td />
        <td>
        <div style="padding: 10px; width: 220px">
        %{ for(r in 1..7) { }% 
        
        	<div style="width:29px; float: left; text-align:center">${r}</div>
         
        %{ } }%
        </div>
        </td>
        </tr>	
        %{ i = 0; }%
        #{list items:attribute.levels, as:'level'}
        <tr>
      		<td> 
        	   <input type="hidden" name="levelIds[${i}]" value="${level.id}" />   
        		<p>
        		${level.name}
        		</p> 
       <!-- 	<p>
        		(${level.description})
        		</p> --> 	
        	</td>
        	<td colspan="2">
        	<div class="rating">
        		<input type="hidden" name="levelRates[${i}]" value="0" />
			%{
     			for(r in 1..7) { 
			}%
        	 
				 <!-- <input type="radio" name="levelRates[${i}]" value="${r}"> -->
				<div class="rate${r} ratingIcon"></div>
        		
        	%{
     			}
			}%
			</div>
			</td>
          </tr>
          %{ i = i + 1; }%
         #{/list}  
        </table>
 	</div>
 	<script>
 	$('.ratingIcon').hover(  
	    // Handles the mouseover  
	    function() { 
	        $(this).prevAll().andSelf().addClass('ratingIcon_hover'); 
	        $(this).nextAll().removeClass('ratingIcon_selected');	 
	    },  
	    // Handles the mouseout  
	    function() {
	 		$(this).prevAll().andSelf().removeClass('ratingIcon_hover');  
	 		//$(this).nextAll().removeClass('ratingIcon_hover');
	 		setSelection($(this).parent());
	    }  
	);
 	$('.ratingIcon').click(function() {
 		var classNames;
 		classNames = $(this)[0].className.split(' ');
 		$(this).parent().children(":input").val(classNames[0].substring(4));
 		$(this).prevAll().andSelf().addClass('ratingIcon_selected');  
 		$(this).nextAll().removeClass('ratingIcon_selected'); 
 	}); 
 	
 	function setSelection(element) {
 		$(element).find('.rate' + $(element).children(":input").val()).prevAll().andSelf().addClass('ratingIcon_selected');
 		$(element).find('.rate' + $(element).children(":input").val()).nextAll().removeClass('ratingIcon_selected'); 
 	}
 
 	</script>
    <p>
    <input type="submit" value="Next" />
	</p>
    #{/form}