#{extends 'main.html' /} #{set title:'Home' /} 

#{form @Application.postPairsUtilities()}
<input type="hidden" name="interviewId" value="${interviewId}" />


<div class="conceptComparisons">
<p class="description">
Would you buy the presented concept? Please answer with the buttons below. 
</p>
<div class="concept">
	<ul>
	   %{ for(attribute in concept.getAttributes()) { }%       
        	<li> ${attribute.getName()}: ${concept.getLevelOf(attribute).getName()} </li>

       %{ } }%
	</ul>
	
	<p id="price">
	Price: &euro; ${concept.getPrice()}
	</p>
</div>

</div>
<p><input type="submit" value="Buy" /> <input type="submit" value="Not Buy" /></p>
#{/form}
