#{extends 'main.html' /}
#{set title:'ACA PE' /}

<table>
	<tr>
		<th>ID</th>
		<th>Config</th>
		%{ for(int i = 1; i <= utilities[0].length; i++) { }%  
 			<th>Utility ${i}</th>
 			<th>WTP ${i}</th>
 		%{ } }%
	</tr>

 %{ for(int i = 0; i < configNames.length; i++) { }%  
 	<tr>
 		<td>${i}</td>
 		<td>${configNames[i]}</td>
 		%{ for(int j = 0; j < utilities[i].length; j++) { }%  
 			<td>${utilities[i][j].round(2)}</td>
 			<td>${wtps[i][j].round()}</td>
 		%{ } }%
 	</tr>
 %{ } }%
 
 <h2>Clusters</h2>
 <table>
 <tr>
 	<th>Respondent</th>
 	<th>Cluster</th>
 </tr>
 %{ for(int i = 0; i < clusters.length; i++) { }%
     <tr>
     	<td>${i}</td>
     	<td>${clusters[i]}</td>
     </tr>
 %{ } }%
</table>