#{extends 'main.html' /}
#{set title:'ACA PE' /}

%{ if(interview == null) { }%
	<h1>No such ID</h1>
%{ } else { }%

<p>Interviewee: ${interview.interviewee.getName()} (${interview.interviewee.geteMail()})</p>
<p>Price p = ${interview.result.PEintercept} + ${interview.result.PEintercept}U</p>

<ul>
%{ for(attribute in attributes) { }%
	<li>
		${attribute.name}
		<ul>
		%{ for(level in attribute.getLevels(interview.result.excludedLevels)) { }%
			<li>${level.name} ${String.format('%.6f', utility.computeCalibratedUtilityFor(level))}</li>
		%{ } }%
		</ul>
	</li> 
%{ } }%
</ul> 

%{ } }% 