#{extends 'main.html' /} 
#{set title:'ACA PE' /} 

#{form @Application.postConceptComparison()}
<input type="hidden" name="interviewId" value="${interviewId}" />


<div class="conceptComparisons">
<p class="description">
Please type for each concept a buying probability in the field below the concept description.
<br>The probability can be between 0 and 100. Zero means not buying in any case.
</p>
<p class="description" >The probabilities need not to sum up to 100%.</p>

 %{ i = 1; }%
 %{ for(concept in concepts) { }%  
<div class="concept">
	<h4>
	Concept ${i}
	</h4>
	<ul>
	   %{ for(attribute in concept.getAttributes()) { }%       
        	<li> ${attribute.getName()}: ${concept.getLevelOf(attribute).getName()} </li>

       %{ } }%
	</ul>
	
	<p class="buyingprobability">
	<input name="utilities[]" type="hidden" value="${concept.getUtility()}"/>
	Probability: <input name="buyingProbabilities[]" type="text" size="3" maxlength="3" />
	</p>
</div>
        	
 %{ i = i + 1; }%
 %{ } }%



</div>
<p class="nextButton"><input type="submit" value="Next" /></p>
#{/form}
