#{extends 'main.html' /} #{set title:'Home' /} 

#{form @Application.postConceptComparison()}
<input type="hidden" name="interviewId" value="${interviewId}" />


<div class="conceptComparisons">
<p class="description">
Please type for each concept a buying probability in the field below the concept description.
The probability can be between 0 and 100. 0 means not buying at all.
</p>
 %{ i = 1; }%
 %{ for(concept in concepts) { }%  
<div class="concept">
	<h4>
	Concept ${i}
	</h4>
	<ul>
	   %{ for(attribute in concept.getAttributes()) { }%       
        	<li> ${attribute.getName()}: ${concept.getLevelOf(attribute).getName()} </li>

       %{ } }%
	</ul>
	
	<p class="buyingprobability">
	Probability: <input name="concept$i" type="text" size="3" maxlength="3" />
	</p>
</div>
        	
 %{ i = i + 1; }%
 %{ } }%



</div>
<p><input type="submit" value="Next" /></p>
#{/form}
