#{extends 'main.html' /}
#{set title:'Home' /}

	#{form @Application.postLevelRate()}  
	<input type="hidden" name="interviewId" value="${interviewId}" />
	<input type="hidden" name="page" value="${page}" />
		#{ifErrors}
			<div class="ErrorMsg">
				<h1>An Error occured</h1>
				<p>Fill out all questions</p>				
			</div>
		#{/ifErrors}
        <div class="choice-table">
        <h2>${attribute.name}</h2>
        <table>
          <tr>
          %{
     			for(r in [" ", "Undesirable", " ", " ", " ", " ", " ", "Desirable"]) { 
			}%
            <th>
             ${r}
            </th>
        	%{
     			}
			}%     
          </tr>
          %{ i = 0; }%
            #{list items:attribute.levels, as:'level'}
          <tr>
        	<td> 
        	   <input type="hidden" name="levelIds[${i}]" value="${level.id}" />   
        		${level.name} (${level.description})
        	</td>
			%{
     			for(r in 1..7) { 
			}%
	
        	<td> 
				 <input type="radio" name="levelRates[${i}]" value="${r}">
        	</td>
        	%{
     			}
			}%
          </tr>
          %{ i = i + 1; }%
           #{/list}
        <table>
        </div>
        <p>
    <input type="submit" value="Next" />
</p>
      #{/form}