#{extends 'main.html' /} #{set title:'Home' /} 

#{form @Application.postPairsUtilities()}
<input type="hidden" name="interviewId" value="${interviewId}" />


<div class="pairUtilities">
<p class="description">
Which of both concepts would you prefer?
</p>
<div class="leftProduct">
	<ul>
	   %{ i = 0; }%
	   %{ for(r in pair.getLHS()) { }%       
        	<li> ${r.getAttribute().getName()}: ${r.getName()} </li>
        	<input type="hidden" name="lhsIds[${i}]" value="${r.getId()}" />
        	%{ i = i + 1; }%
       %{ } }%
	</ul>
</div>

<div class="rightProduct">
<div class="innerProduct">
	<ul>
	   %{ i = 0; }%
	   %{ for(r in pair.getRHS()) { }%       
        	<li>${r.getAttribute().getName()}: ${r.getName()} </li>
        	<input type="hidden" name="rhsIds[${i}]" value="${r.getId()}" />
        	%{ i = i + 1; }%
       %{ } }%
	</ul>
	</div>
</div>


        <div class="choice-table">
        <table>
        %{def label = ["Strongly prefer", " ", " ", " ", " ", " ", " ", " ", "Strongly prefer"]}%
         <colgroup width="${600/label.size()}" span="${label.size()}"></colgroup>
        <tr>
        %{ for(r in ["Strongly prefer", " ", " ", " ", " ", " ", " ", " ", "Strongly prefer"]) { }% 
        <td>
        	${r}
        </td> 
        %{ } }%
        </tr>
        
          <tr>
          	%{ for(i in [-4, -3, -2, -1, 0, 1, 2, 3, 4]) { }%
				<td>
				<input type="radio" name="preference" value="${i}">
				</td>
			%{ } }%
          </tr>
        </table>
</div>

</div>
<p><input type="submit" value="Next" /></p>
#{/form}
